In [32]:
import pandas as pd #pandas를 불러옴

sample_1=pd.read_excel('datasalon-master\\2_Start_DataAnalysis\\files\\sample_1.xlsx', #엑셀 파일 불러오기, 경로 지정
                            header=1, #칼럼명이 있는 위치. 파이썬에서는 시작 숫자가 0이르모 두 번째 로우는 1로 표현
                            skipfooter=2, #마지막 로우에서 두 줄은 생략하고 불러오기
                            usecols='A:C') # A칼럼부터 C칼럼까지 불러옴

sample_1.head(5) #처음부터 5번째 로우까지 보여주는 함수. 불러온 데이터의 로우가 많을 경우 파이썬에서 원하는 형태대로 잘 불러왔는지 확인하기 위함.

  국적코드  성별    입국객수
0  A01  남성  106320
1  A01  여성  191436
2  A31  남성     319
3  A31  여성      42
4  A18  남성  158912

In [31]:
sample_1.tail(3) #마지막 3개 로우를 보여주는 함수.

  국적코드  성별    입국객수
3  A31  여성      42
4  A18  남성  158912
5  A18  여성  232943

In [49]:
sample_1.info() #데이터 요약 정보 나타내기

# 이 데이터는 pandas의 데이터프레임 클래스다.
# 0~5까지 총 6로우로 되어있다.
# 총 3개의 칼럼을 가지고 있다.
# 국적코드 칼럼은 빈 칸이 없이(non-null) 6개의 로우로 되어있고, 문자 속성(object) 변수다.
# 입국객수 칼럼은 빈 칸이 없이 6개의 로우로 구성된 정수형 속셩(int64) 변수다.
# 이 데이터는 정수형 변수 1개, 문자형 변수 2개로 구성돼 있다.
# 이 데이터는 224바이트를 차지한다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국적코드    6 non-null      object
 1   성별      6 non-null      object
 2   입국객수    6 non-null      int64
 3   기준년월    6 non-null      object
dtypes: int64(1), object(3)
memory usage: 320.0+ bytes

In [41]:
sample_1.describe() #숫자형 변수에 대한 여러가지 통계량을 출력하는 함수. 우리의 자료에는 숫자형 변수가 입국객수 뿐이다. 
#데이터 개수, 평균값, 표준편차, 최솟값, 1사분위수, 2사분위수(중위수), 3사분위수, 최댓값 순으로 나타난다.

                입국객수
count       6.000000
mean   114995.333333
std     98105.752006
min        42.000000
25%     26819.250000
50%    132616.000000
75%    183305.000000
max    232943.000000

In [42]:
sample_1 #3개의 칼럼

  국적코드  성별    입국객수
0  A01  남성  106320
1  A01  여성  191436
2  A31  남성     319
3  A31  여성      42
4  A18  남성  158912
5  A18  여성  232943

In [46]:
sample_1['국적코드'] #원하는 칼럼만 보고싶은 경우

0    A01
1    A01
2    A31
3    A31
4    A18
5    A18
Name: 국적코드, dtype: object

In [86]:
sample_1[['국적코드', '입국객수']] #원하는 칼럼만 보고싶은 경우2 - 리스트로 칼럼을 묶어버림

  국적코드    입국객수
0  A01  106320
1  A01  191436
2  A31     319
3  A31      42
4  A18  158912
5  A18  232943

In [87]:
sample_1['기준년월']='2020-08' #기준년월 칼럼 추가
sample_1

  국적코드  성별    입국객수     기준년월
0  A01  남성  106320  2020-08
1  A01  여성  191436  2020-08
2  A31  남성     319  2020-08
3  A31  여성      42  2020-08
4  A18  남성  158912  2020-08
5  A18  여성  232943  2020-08

In [88]:
#데이터 선택 - 로우 기준
#주로 특정 조건에 맞는 데이터를 필터링한 결과를 찾을 때 사용한다. 
condition=(sample_1['성별']=='여성')
condition

0    False
1     True
2    False
3     True
4    False
5     True
Name: 성별, dtype: bool

In [89]:
sample_1[condition] #여성만 출력

  국적코드  성별    입국객수     기준년월
1  A01  여성  191436  2020-08
3  A31  여성      42  2020-08
5  A18  여성  232943  2020-08

In [90]:
condition1=(sample_1['입국객수']>=150000)
sample_1[condition1]

  국적코드  성별    입국객수     기준년월
1  A01  여성  191436  2020-08
4  A18  남성  158912  2020-08
5  A18  여성  232943  2020-08

In [91]:
condition2=(sample_1['성별']=='여성')&(sample_1['입국객수']>=150000) #조건 두가지
condition2

0    False
1     True
2    False
3    False
4    False
5     True
dtype: bool

In [92]:
sample_1[condition2]

  국적코드  성별    입국객수     기준년월
1  A01  여성  191436  2020-08
5  A18  여성  232943  2020-08

In [93]:
condition2=(sample_1['성별']=='여성')& \
    (sample_1['입국객수']>=150000) #역슬래시는 한 줄 띄울테니 두 줄을 한줄로 인식하라는 뜻. 위와 같은 표현이다.
sample_1[condition2]

  국적코드  성별    입국객수     기준년월
1  A01  여성  191436  2020-08
5  A18  여성  232943  2020-08

In [94]:
condition3=(sample_1['국적코드'].isin(['A01', 'A18'])) #isin() 안에 찾고 싶은 값들을 리스트 형태로 넣으면 국적코드에서 리스트 안의 값에 해당할 경우 True를 반환
condition3

0     True
1     True
2    False
3    False
4     True
5     True
Name: 국적코드, dtype: bool

In [95]:
sample_1[condition3]

  국적코드  성별    입국객수     기준년월
0  A01  남성  106320  2020-08
1  A01  여성  191436  2020-08
4  A18  남성  158912  2020-08
5  A18  여성  232943  2020-08

In [96]:
sample_1[condition3==False] #위 경우를 제외한 것을 출력하고 싶을 때

  국적코드  성별  입국객수     기준년월
2  A31  남성   319  2020-08
3  A31  여성    42  2020-08

In [97]:
sample_1

  국적코드  성별    입국객수     기준년월
0  A01  남성  106320  2020-08
1  A01  여성  191436  2020-08
2  A31  남성     319  2020-08
3  A31  여성      42  2020-08
4  A18  남성  158912  2020-08
5  A18  여성  232943  2020-08

In [98]:
code_master=pd.read_excel('datasalon-master\\2_Start_DataAnalysis\\files\\sample_codemaster.xlsx')
code_master

  국적코드     국적명
0  A01      일본
1  A02      대만
2  A03      홍콩
3  A18      중국
4  A19      이란
5  A22  우즈베키스탄
6  A23   카자흐스탄
7  A99  아시아 기타

In [99]:
sample_1_code=pd.merge(left=sample_1, #merge는 자료를 가로로 합친다.
                        right=code_master, # 오른쪽은 code_master
                        how='left', # 왼쪽 테이블을 기준으로 두 테이블을 결합
                        left_on='국적코드', # 왼쪽 테이블의 기준 칼럼은 국적코드
                        right_on='국적코드') # 오른쪽 테이블의 기준 칼럼은 국적코드
sample_1_code # 국적코드가 A31인 경우 국적명이 NaN으로 나온다. code_master에는 해당하는 자료가 없기 때문.

  국적코드  성별    입국객수     기준년월  국적명
0  A01  남성  106320  2020-08   일본
1  A01  여성  191436  2020-08   일본
2  A31  남성     319  2020-08  NaN
3  A31  여성      42  2020-08  NaN
4  A18  남성  158912  2020-08   중국
5  A18  여성  232943  2020-08   중국

In [100]:
sample_1_code=pd.merge(left=sample_1,
                        right=code_master,
                        how='inner', # 두 테이블의 기준 칼럼이 일치하는 경우에만 데이터 통합
                        left_on='국적코드', 
                        right_on='국적코드') 
sample_1_code

  국적코드  성별    입국객수     기준년월 국적명
0  A01  남성  106320  2020-08  일본
1  A01  여성  191436  2020-08  일본
2  A18  남성  158912  2020-08  중국
3  A18  여성  232943  2020-08  중국

In [101]:
#데이터 아래로 통합(ex.월별로 관리)
sample_2=pd.read_excel('datasalon-master\\2_Start_DataAnalysis\\files\\sample_2.xlsx', 
                        header=1, 
                        skipfooter=2, 
                        usecols='A:C')
sample_2['기준년월']='2019-12'
sample_2_code=pd.merge(left=sample_2, 
                        right=code_master, 
                        how='left', 
                        left_on='국적코드',
                        right_on='국적코드')
sample_2_code

  국적코드  성별    입국객수     기준년월 국적명
0  A01  남성   92556  2019-12  일본
1  A01  여성  163737  2019-12  일본
2  A18  남성  155540  2019-12  중국
3  A18  여성  249023  2019-12  중국

In [102]:
#ignore_index=True 를 입력하지 않으면 원래 데이터에서의 인덱스 값으로 합쳐짐
sample=sample_1_code.append(sample_2_code) # append()로 아래로 통합. 
sample

  국적코드  성별    입국객수     기준년월 국적명
0  A01  남성  106320  2020-08  일본
1  A01  여성  191436  2020-08  일본
2  A18  남성  158912  2020-08  중국
3  A18  여성  232943  2020-08  중국
0  A01  남성   92556  2019-12  일본
1  A01  여성  163737  2019-12  일본
2  A18  남성  155540  2019-12  중국
3  A18  여성  249023  2019-12  중국

In [103]:
# sample_1_code와 sample_2_code의 칼럼 순서가 동일하다면 두 데이터를 아래로 통합할 수 있다!!!
sample=sample_1_code.append(sample_2_code, ignore_index=True) # append()로 아래로 통합. 
sample

  국적코드  성별    입국객수     기준년월 국적명
0  A01  남성  106320  2020-08  일본
1  A01  여성  191436  2020-08  일본
2  A18  남성  158912  2020-08  중국
3  A18  여성  232943  2020-08  중국
4  A01  남성   92556  2019-12  일본
5  A01  여성  163737  2019-12  일본
6  A18  남성  155540  2019-12  중국
7  A18  여성  249023  2019-12  중국

In [104]:
# 데이터 저장
sample

  국적코드  성별    입국객수     기준년월 국적명
0  A01  남성  106320  2020-08  일본
1  A01  여성  191436  2020-08  일본
2  A18  남성  158912  2020-08  중국
3  A18  여성  232943  2020-08  중국
4  A01  남성   92556  2019-12  일본
5  A01  여성  163737  2019-12  일본
6  A18  남성  155540  2019-12  중국
7  A18  여성  249023  2019-12  중국

In [108]:
#위와 같이 만들어진 데이터를 엑셀 파일로 저장해 두면 다음에는 위와 같은 작업을 다시 하지 않아도 된다. 
#pandas에서 데이터를 엑셀 파일로 저장하기
sample.to_excel('./PracSample.xlsx')